[submodule "backend"]
	path = backend
	url = https://github.com/YoungeonLee/youngeonlee-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/YoungeonLee/youngeonlee-frontend.git
